.container{
    display: flex;
    gap: 100px;
}

.title {
font-size: 96px;
}

.desc{
font-size: 20px;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button{
    padding: 20px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.textContainer{
    flex: 1;
}

.imageContainer{
    flex: 1;
    position: relative;
}

